<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <title>PG FINDER</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
   <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
   <script src="ejs.js"></script>
  </head>
  <body>       
          <nav class="navbar navbar-expand-lg bg-dark">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">PG FINDER</a>
                </div>
                <ul class="navbar-nav mr-auto">
                  <li class="nav-link"><a href="/">HOME</a></li>
                      <li class="nav-link"><a href="#">ABOUT</a></li>
                      <li class="nav-link"><a href="#">CONTACT</a></li>
                      </ul>
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="/user/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
                </ul>
              </div>
            </nav>
<table>
    <% for(var i=0; i < users.length; i++) { %>
       <tr>
         <td><%= users[i].name %></td>
         <td><%= users[i].city %></td>
       </tr>
    <% } %>
    </table>
</body>
</html>